a {
    color: white;
}

.app {
    position: relative;
}

.header {
    width           : 100%;
    height          : 85px;
    background-color: var(--background-color);
    position        : fixed;
    z-index         : 1;
    display         : flex;
    align-items     : center;
    top             : 0;

}

.header__logo {
    width : 30%;
    cursor: pointer;
}

.header__logo>a>img {
    width     : 100%;
    object-fit: cover;
}

.navbar__list {
    display        : flex;
    justify-content: space-between;
}

.navbar__item {
    color: white;

    padding: 0 20px;

}

.navbar__item>span {
    cursor: pointer;
}

.container {
    position: relative;
    top     : 85px
}

.sidebar {

    width           : 20%;
    min-height      : 90vh;
    padding         : 30px 0 30px 30px;
    position        : absolute;
    background-color: #e6e6e6;
}

.product__title {
    padding         : 15px 15px;
    background-color: rgb(200, 195, 195);
}

.sidebar__title {
    font-weight  : 600;
    margin-bottom: 15px;

}

.sidebar__list {
    margin-top  : 15px;
    padding-left: 20px;
}

.sidebar__item {
    margin-top: 10px;
    cursor    : pointer;
    padding   : 5px;

}

.sidebar__item:hover {
    transform: translateX(10px);

}

.content {
    width      : 80%;
    min-height : 100px;
    position   : absolute;
    right      : 0;
    border-left: 2px solid rgb(74, 72, 72);
}

.content__header {
    background-color: #e6e6e6;
    height          : 64px;

    padding-left : 30px;
    display      : flex;
    align-items  : center;
    border-bottom: 2px solid rgb(74, 72, 72);
    ;
}

.content__header>span {
    padding: 0 10px;
}

.content__service {
    height : 48px;
    padding: 10px;
    display: flex;

}

.service__search {
    border       : 1px solid rgb(92, 92, 231);
    border-radius: 5px;
    padding      : 5px 10px;
    margin-right : 20px;
    height       : 40px;
    display      : flex;
    align-items  : center;


}

.service__search>i {
    font-size: 20px;
    cursor   : pointer;

}

.service__input {

    outline: none;
    padding: 5px;
    height : 30px;
    border : none;


}

.service__addtour {
    border-radius: 5px;
    border       : none;
    padding      : 5px 10px;
    height       : 40px;

    background-color: rgb(92, 92, 231);
    color           : white;
    cursor          : pointer;
}

.service__addtour:hover {
    opacity: 0.8;
}

.content__product {
    display    : flex;
    padding    : 0 10px;
    width      : 100%;
    line-height: 30px;
    align-items: center;
    margin-top : 20px;

}

.product__label {

    flex       : 0 0 16.6666%;
    max-width  : 16.6666%;
    border     : 1px solid black;
    text-align : center;
    font-weight: 600;


}

.product__label:nth-child(1) {
    max-width: 8.3333%;
}

.product__label:nth-child(7) {
    max-width: 8.3333%;
}

.content__list {
    width: 100%;
}

.product__item {
    padding: 0 10px;
    width  : 100%;
    display: flex;


}

.product__content {
    display    : block;
    line-height: 30px;
    flex       : 0 0 16.6666%;
    max-width  : 16.6666%;
    border     : 1px solid black;
    padding    : 0 5px;

}

.product__content:hover {
    color      : red;
    white-space: unset;
}



.product__item>span:nth-child(1) {
    max-width: 8.3333%;
}


.product__item>span:nth-child(2) {
    max-width    : 16.6666%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.product__item>span:nth-child(2):hover {
    white-space: unset;
}

.product__item>span:nth-child(3) {
    max-width      : 16.6666%;
    overflow       : hidden;
    text-overflow  : ellipsis;
    white-space    : nowrap;
    display        : flex;
    justify-content: center;
}

.product__item>span:nth-child(4) {
    max-width      : 16.6666%;
    overflow       : hidden;
    text-overflow  : ellipsis;
    white-space    : nowrap;
    display        : flex;
    justify-content: center;
}

.product__item>span:nth-child(5) {
    max-width    : 16.6666%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.product__item>span:nth-child(5):hover {
    white-space: unset;
}

.product__item>span:nth-child(7) {
    max-width      : 8.3333%;
    display        : flex;
    justify-content: space-around;
    line-height    : 30px;
    align-items    : center;
}

.product__item>span:nth-child(7)>i:hover {
    color : rgb(14, 193, 14);
    cursor: pointer;
}


.customer__label {

    flex       : 0 0 16.6666%;
    max-width  : 16.6666%;
    border     : 1px solid black;
    text-align : center;
    font-weight: 600;


}

.customer__label:nth-child(1) {
    flex     : 0 0 8.33333%;
    max-width: 8.3333%;
}

.customer__label:nth-child(2) {
    flex     : 0 0 25%;
    max-width: 25%;
}

.customer__label:nth-child(3) {
    flex     : 0 0 33.3333%;
    max-width: 33.33333%;
}

.customer__label:nth-child(5) {
    flex     : 0 0 8.3333%;
    max-width: 8.3333%;
}

.customer__label:nth-child(6) {
    flex     : 0 0 8.3333%;
    max-width: 8.3333%;
}

.customer__item {
    padding: 0 10px;
    width  : 100%;
    display: flex;


}

.customer__content {
    display    : block;
    border     : 1px solid black;
    line-height: 30px;
    padding    : 0 5px;

}

.customer__content:hover {
    color: red;

}

.customer__item>span:nth-child(1) {
    flex           : 0 0 8.3333%;
    max-width      : 8.33333%;
    display        : flex;
    justify-content: center;
}

.customer__item>span:nth-child(2) {
    flex     : 0 0 25%;
    max-width: 25%;
}

.customer__item>span:nth-child(2):hover {
    white-space: unset;
}

.customer__item>span:nth-child(3) {
    flex         : 0 0 33.333%;
    max-width    : 33.33333%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.customer__item>span:nth-child(3):hover {
    white-space: unset;
}

.customer__item>span:nth-child(4) {
    flex         : 0 0 16.6666%;
    max-width    : 16.6666%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.customer__item>span:nth-child(5) {
    flex           : 0 0 8.3333%;
    max-width      : 8.3333%;
    display        : flex;
    justify-content: center;

}

.customer__item>span:nth-child(6) {
    flex           : 0 0 8.3333%;
    max-width      : 8.3333%;
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.customer__item>span:nth-child(6)>i:hover {
    color : rgb(14, 193, 14);
    cursor: pointer;

}

.auth-form_group>input {
    margin-top: 10px;
}

.btnSubmit {
    height          : 45px;
    min-width       : 120px;
    padding         : 5px;
    margin-bottom   : 10px;
    cursor          : pointer;
    border          : none;
    background-color: var(--background-color);
    border-radius   : 5px;
    color           : white;
}

.btnSubmit:hover {
    opacity: 0.8;
}

.order_label {
    font-weight: 600;
    border     : 1px solid black;
    text-align : center;
}

.order_label:nth-child(1) {
    flex     : 0 0 5%;
    max-width: 5%;
}

.order_label:nth-child(2) {
    flex     : 0 0 16.6333%;
    max-width: 16.6333%;
}

.order_label:nth-child(3) {
    flex     : 0 0 16.6333%;
    max-width: 16.6333%;
}

.order_label:nth-child(4) {
    flex     : 0 0 25%;
    max-width: 25%;
}

.order_label:nth-child(5) {
    flex     : 0 0 13.333%;
    max-width: 13.333%;
}

.order_label:nth-child(6) {
    flex     : 0 0 15%;
    max-width: 15%;
}

.order_label:nth-child(7) {
    flex     : 0 0 8.3333%;
    max-width: 8.3333%;
}

.order__item {
    width  : 100%;
    display: flex;
    padding: 0 10px;


}

.order__item>span {
    text-align : center;
    border     : 1px solid black;
    line-height: 30px;
}



.order__item>span:nth-child(1) {
    flex         : 0 0 5%;
    max-width    : 5%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.order__item>span:nth-child(2) {
    flex         : 0 0 16.6333%;
    max-width    : 16.6333%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.order__item>span:nth-child(3) {
    flex         : 0 0 16.6333%;
    max-width    : 16.6333%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.order__item>span:nth-child(4) {
    flex         : 0 0 25%;
    max-width    : 25%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.order__item>span:nth-child(5) {
    flex         : 0 0 13.333%;
    max-width    : 13.333%;
    overflow     : hidden;
    text-overflow: ellipsis
}

.order__item>span:nth-child(6) {
    flex         : 0 0 15%;
    max-width    : 15%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.order__item>span:nth-child(7) {
    flex         : 0 0 8.3333%;
    max-width    : 8.3333%;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.order__content {
    display: block;
    padding: 0 5px;


}

.order__icon {
    cursor    : pointer;
    text-align: center;
}

.order__detail {
    width         : 100%;
    line-height   : 30px;
    padding       : 0 10px;
    display       : flex;
    flex-direction: column;
}

.order__detail__lab {
    display: flex;
}

.orderDetail_label {

    max-width       : 16.6666%;
    flex            : 16.666%;
    text-align      : center;
    font-weight     : 600;
    border          : 1px solid black;
    background-color: wheat;

}

.order__detail__list {
    display: flex;
}

.hide {
    display: none;
}

.orderDetail_item {
    max-width       : 16.6666%;
    flex            : 16.666%;
    border          : 1px solid black;
    background-color: wheat;
    overflow        : hidden;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}